# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/

# PyCharm
.idea/
*.iml

# Django static files (optional)
staticfiles/

# Secrets and environment variables
.env

# macOS
.DS_Store
